{% extends "main" %}
{% block body %}
<h1 class="title">.selfcare</h1>
<p>Music is one of my biggest means of selfcare, so I thought I might as 
   well share the music I listen to and links to buy that music (e.g. 
   bandcamp-pages).</p>
<br>
<p>
{% for m in music %}
  {{m.label}} (<a href="{{m.url}}">{{m.domain}}</a>)<br>
{% endfor %}
</p>
<br>
<h2 id="legal" class="title" style="cursor: pointer;"><a href="/legal">.legal stuff</a></h2>
{% endblock body %}
